@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Libre+Barcode+128&family=Libre+Barcode+128+Text&family=Noto+Sans+JP:wght@400;900&family=Permanent+Marker&family=Press+Start+2P&family=Redacted&family=Rock+Salt&family=Rubik:ital,wght@1,500;1,900&family=Sedgwick+Ave+Display&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Noto+Sans+Egyptian+Hieroglyphs&family=Oxanium:wght@500&family=Reenie+Beanie&family=Single+Day&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  @apply h-screen bg-black;
  font-family: "Oxanium", monospace;
}

/* Navbar */
.navbar {
  @apply bg-neutral;
}

.nav-link {
  @apply text-black;
}
.nav-link:hover {
  @apply text-gray-700;
}

/* WalletButton.js - Not committed yet */
.sign-in-button {
  @apply inline-block py-2 px-4 rounded-md text-base font-medium text-primary hover:bg-opacity-75;
}

/* AboutUs.js */
.prose h2 {
  @apply text-white;
}
.prose blockquote {
  @apply text-white;
}
.prose #investment-sectors li {
  @apply m-0;
}

/* Utilities */
.font-oxanium {
  font-family: "Oxanium", monospace;
}

.font-iceland {
  font-family: "Iceland", monospace;
}

.hoverable {
  @apply text-white;
  @apply bg-neutral;
}
.hoverable:hover {
  @apply bg-neutral;
}
.hoverable:focus {
  @apply outline-none ring-0 ring-inset ring-black;
}

.clickable {
  cursor: pointer;
}

/* Top Section Home Page */
.contact {
  @apply bg-neutral text-white;
}
.contact .overlay {
  @apply bg-neutral absolute inset-0 mix-blend-multiply;
}
.contact .text-container {
  @apply relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8;
}
.contact .headline {
  @apply text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl;
}
.contact .text {
  @apply mt-6 text-2xl max-w-3xl;
}

/* CallToAction.js - currently unused */
.call-to-action {
  @apply bg-secondary;
  @apply inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white;
}
.call-to-action:hover {
  @apply bg-secondary;
}
.call-to-action:focus {
  @apply outline-none ring-2 ring-inset ring-black;
}

/* Console.js -> Terminal.js */
#output {
  @apply bg-black h-screen mb-2 text-green-500;
}

.terminal {
  @apply bg-black overflow-auto text-green-600;
  @apply cursor-text max-h-full max-w-full;
  @apply font-mono;
  /* Begin: Hiding Scrollbar from all browsers */
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* End: Hiding Scrollbar */
}
.terminal::-webkit-scrollbar {
  display: none;
}
.terminal .content {
  @apply pl-1;
}
.terminal .input-group {
  @apply block w-full flex;
}
.terminal .prompt {
  @apply flex-none;
}
.terminal .input {
  @apply ring-0 border-none outline-none py-0 pl-2.5 grow;
}
